 /* -----media queries for menu bar ----- */
 @media only screen and (max-width:768px) { 
    .header {
      min-height: 80vh;
    }
    .nav-links {
      position: absolute;
      height: 100vh;
      width: 200px;
      top: 0;
      right:-200px;
      text-align: left;
      z-index: 2;
      background: var(--bg-dark);
      transition: 1s
    }  
  .nav-links ul li {
  display: block;
  }
  nav .icon {
    color: var(--bg-white);
    margin: 10px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }
  nav .menu {
    color: var(--bg-dark);
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li a{
    color: var(--bg-white);
    font-size: 15px;
  }
 }
  
  /*  media queries for text box */
  @media only screen and  (min-width:768px) { 
 .text-box div img {
    width: 243px;
    height: 243px;
    padding-right: 50px;
    margin:50px 150px;
  } 
  .text-box-middle {
    margin: 10px 80px;
    text-align: center;
  }
  .text-box div h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 40px;
    padding-top: 0px;
    text-align: left;
    padding-left: 85px;
  }
  #item-1 {
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    margin: 1px 30px;
    padding-left: 55px;
  }
.text-box-middle a {
  margin: 0px 20px;
}
/* -----media queries for post section ----- */

  .row {
    display: flex;
    flex-direction:row;
  }
  .posts div h3 {
    text-align: left;
    margin-left:60px; 
  }
  #rowContent {
    margin-left: 80px;
    margin-bottom: 5px;
  }
#rowContent-1 {
  margin-right: 80px;
  margin-bottom: 5px;
  }
  .row p {
    padding-bottom: 30px;
    margin-right:50px;
  }

/* media queries for featured works  */

.works-layer-content {
display: flex;
justify-content: space-between;
}
.works-layer div img {
width: 246px;
height: 180px;
margin-left: 120px;
}
/* media queries for blogs */
.blogs .row {
display:flex;
flex-direction: column;
}
.blogs .row-content {
margin:0px 250px;
}
.blogs h3 {
margin-left:100px ;
}
.blogs p {
padding-right:150px ;
}
.blogs hr {
margin-left:  100px;
margin-right: 250px;
}
}