@media only screen and (min-width:1199px) {
  .text-box {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
  }
  .text-box div img {
        width: 243px;
        height: 243px;
  } 
  .text-box-middle {
        flex-basis: 50%;
  }
  .text-box div h1 {
        font-size: 44px;
        font-weight: 700;
        line-height: 40px;
        padding-top: 0px;
        padding-right: 50px;
  }
  #item-1 {
        padding: 0px;
        margin:30px 70px;
        font-size: 15px;
        line-height: 23px;
        font-weight: 400;
  
  }
  .text-box-middle a {
      padding: 5px 10px;
  }
  .row {
        display: flex;
        flex-direction:row;
  }
  .posts div h3 {
        text-align: left;
        margin-left:60px; 
  }
  #rowContent {
        margin-left: 120px;
        margin-bottom: 5px;
  }
  #rowContent-1 {
      margin-right: 80px;
      margin-bottom: 5px;
  }
  .row p {
        padding-bottom: 30px;
        margin-right:50px;
  }
  
  .works-layer-content {
    display: flex;
    justify-content: space-between;
  }
  .works-layer div img {
    width: 246px;
    height: 180px;
    margin-left: 120px;
  }
  
  .blogs .row {
    display:flex;
    flex-direction: column;
  }
  .blogs .row-content {
    margin:0px 250px;
  }
  .blogs h3 {
    margin-left:100px ;
  }
  .blogs p {
    padding-right:150px ;
  }
  .blogs hr {
    margin-left:  100px;
    margin-right: 250px;
  }
  .works-layer h2 {
      margin-left:110px ;
  }
}