* {
    margin: 0;
    padding: 0;
    font-family: "Heebo",sans-serif;
  }
  
  :root {
    --bg-white: #fff;
    --bg-dark: #212430;
    --bg-gray: #edf7fa;
    --bg-orange: #ff6464;
  }
  
  .header {
    min-height: 75vh;
    width: 100%;
    background-color: var(--bg-white);
  }
  
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 4px 10px;
    position: relative;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    color: var(--bg-dark);
    font-size: 18px;
    font-weight: 600;
  }
  
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--bg-dark);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  nav .icon {
    display: none;
  }


  /*----- text-box ------ */

.text-box div img {
  width: 170px;
  height: 170px;
  padding-left: 100px;
}
.text-box-middle {
  margin: 5px 35px;
  padding: 0px;
}
.text-box div h1 {
  text-align: center;
  padding: 10px;
  margin: 5px;
  line-height: 40px;
  font-size: 32px;
  font-weight: 700;
}
.text-box-middle a {
 text-decoration: none;
 border: 2px solid var(--bg-orange);
 border-radius: 2px;
 color:var(--bg-white);
 background: var(--bg-orange);
 margin:10px 80px;
 padding: 5px;
}

#item-1 {
  padding: 5px;
  margin: 15px 15px;
  font-size: 13px;
  line-height: 23px;
}

 /* text box media queries */

 @media only screen and (min-width:768px) {
  .text-box {
    display: flex;
    justify-content: space-between;
  }.text-box div img {
    width: 243px;
    height: 243px;
  } .text-box-middle {
    flex-basis: 50%;
  }
  .text-box div h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    padding-top: 0px;
    padding-right: 50px;
  }
  #item-1 {
    padding: 0px;
    margin:30px 70px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;

  }
 .text-box-middle a {
  padding: 5px 10px;
 }

  }
 
  /*-------- posts ------ */

  .posts {
    width: 100%;
    margin: auto;
    padding-top: 0px;
    background: var(--bg-gray);
    text-align: center;
  }

  .posts div h3 {
    font-size: 18px;
    line-height: 60px;
    font-weight: 400;
    margin: 2px;
  }

  .row-content {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    margin: 10px 15px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--bg-white);
  }

  .row  h2 {
      margin: 5px;
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      
  }
.row span {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 10px 5px;
}

.row p {
  font-size: 14px;
  text-align: left;
  padding-top: 2px;
  line-height: 20px;
  margin: 2px 11px;
}
/* -----media queries for post section ----- */
@media only screen and (min-width:768px) {
  .row {
    display: flex;
    flex-direction:row;
  }
  .row-content {
    border: 1px solid red;
  }
  .posts div h3 {
    text-align: left;
    margin-left:60px; 
  }
  #rowContent {
    margin-left: 80px;
    margin-bottom: 5px;
  }
#rowContent-1 {
  margin-right: 80px;
  margin-bottom: 5px;
}
  .row p {
    padding-bottom: 30px;
    margin-right:50px;
  }

}


  /* -----media queries for menu bar ----- */
   @media (max-width:768px) { 
    .header {
      min-height: 100vh;
    }
    .nav-links {
      position: absolute;
      height: 100vh;
      width: 200px;
      top: 0;
      right:-200px;
      text-align: left;
      z-index: 2;
      background: var(--bg-dark);
      transition: 1s}  
  .nav-links ul li {
   display: block;
  }
  nav .icon {
    color: var(--bg-white);
    margin: 10px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }
  nav .menu {
    color: var(--bg-dark);
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li a{
    color: var(--bg-white);
    font-size: 15px;
  }
 
    }
    

    