@import "./styles.scss";


.aboutimg {
    margin-top: 20px;
    margin-left: 15px;
    animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
     img {
       width: 80px;
       height: 80px;
       border-radius: 50%;
     }
   }

   h1 {
    color: #d0d0d0;
    margin:0px 25px;
    font-size: 30px;
    font-family: 'Aoboshi One', serif;
    animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
h2 {
    color: #d0d0d0;
    margin:10px 25px;
    font-size: 25px;
    font-family: 'Aoboshi One', serif;  
    animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
  P {
    color: #838383;
    padding-top: 10px;
    padding-left: 22px;
    line-height: 25px;
    font-size: 18px;
    padding-right: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .faicon {
    font-size: 10px;
    margin-left: 5px;
    color: #77E4D4 ;
  }
.resume {
  a {
    display: inline-block;
    border: 2px solid #77E4D4 ;
    background-color: transparent;
    border-radius: 2em;
    margin-left: 15px;
    text-decoration: none;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 0.1em;
    transition: border 500ms, background-color 500ms, color 500ms;
    cursor: pointer;
    color: #d9dcde;
    animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

  
 


  #expBox {
    border-top: 1px dashed #77E4D4;
    animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    h3 {
      color: #d0d0d0;
      margin:10px 20px;
      font-size: 18px;
     
      font-family: 'Aoboshi One', serif;  
    }
    span {
      font-size: 15px;
      margin-left: 20px;
      color: #77E4D4 ;
      animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    p {
      font-size: 15px;
    }
  }