@import "./styles.scss";


#contactWrapper {
   
    margin-top: 20px;
}

form {
 display: flex;
 flex-direction: column;
 padding: 10px;
}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Aoboshi One', serif;
  }
  input::placeholder {
    font-size: 15px;
  }
  textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Aoboshi One', serif;
  }

  textarea::placeholder {
    font-size: 15px;
  }
  
  input[type=email] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Aoboshi One', serif;
  }

#btn {

    width: 50%;
    padding: 12px 20px;
    margin: 8px 10px;
}

.icons {
  display: flex;
  font-size: 40px;
  margin-left: 22px;
  margin-bottom: 10px;
  .icon {
    padding-right: 20px;
    color: #838383;
  }
:hover {
  color:#77E4D4 ;
}
}
.Modal {
  position: absolute;
  top: 90px;
  left: 40px;
  right: 40px;
  height: 250px;
  transition: none;
  border-radius: 5px;
  background-color: #03010f;
  p {
    color: #77E4D4;
    text-align: center;
  }

}
@media only screen and (min-width: 1024px) {
  input[type=text], select {
    width: 60%;
    
  }
  input[type=email], select {
    width: 60%;
    
  }
  textarea {
    width: 60%;
  }

}
