.project-preview {
  font-family: "Aoboshi One", serif;
  margin: auto;
  width: 80%;
  margin-top: 20px;
  position: relative;
  height: 350px;
  border-radius: 15px;
  margin-bottom: 20px;
  display: block;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.project-preview img {
  width: 100%;
  border-radius: 15px;
  height: 350px;
  border: 1px solid #696a6a;
  filter: brightness(40%);
}
.project-preview .bottom {
  position: absolute;
  color: #f3efef;
  top: 60%;
  left: 8px;
  margin: 0;
  padding: 0;
}
.project-preview .bottom h3 {
  padding: 0 5px;
  font-weight: 800;
  font-size: 20px;
  filter: brightness(100%);
}
.project-preview .bottom p {
  padding: 5px;
  padding-right: 20px;
  font-size: 15px;
  line-height: 15px;
  color: #c4c3c3;
}
.project-preview .bottom ul {
  list-style: none;
  margin-top: -15px;
}
.project-preview .bottom li {
  display: inline;
  margin: 5px;
  padding: 5px;
  background: #696a6a;
  color: #d3cece;
  border-radius: 5px;
  font-size: 12px;
}

.detailscontent {
  margin-top: 30px;
  margin-left: 20px;
}
.detailscontent h3 {
  color: #adabab;
  font-size: 15px;
  margin-left: 20px;
}
.detailscontent img {
  width: 85%;
  border-radius: 15px;
  height: 250px;
  margin-left: 20px;
  border: 1px solid #696a6a;
  filter: brightness(60%);
}
.detailscontent p {
  font-size: 10px;
  line-height: 10px;
  margin-right: 50px;
  animation: none;
}
.detailscontent a {
  font-size: 10px;
  margin-right: 50px;
  color: #adabab;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}
.detailscontent h4 {
  color: #adabab;
  font-size: 15px;
  margin-left: 20px;
  padding: 0;
  margin-top: 10px;
}

.details-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #222121;
}
.details-top p {
  font-size: 10px;
  color: #77E4D4;
  animation: none;
}

.detailsIcon {
  font-size: 15px;
  margin: 20px;
  color: #77E4D4;
}

.LinkIcon {
  font-size: 15px;
  color: #77E4D4;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.slide-right {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media only screen and (min-width: 1024px) {
  .projects {
    margin: 0 -5px;
  }
  .projects::after {
    content: "";
    display: table;
    clear: both;
  }
  .bottom {
    left: 20px;
  }
  .project-preview {
    font-family: "Aoboshi One", serif;
    float: left;
    width: 25%;
    padding: 0 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .project-preview img {
    width: 100%;
    border-radius: 15px;
    height: 350px;
    filter: brightness(40%);
  }
  .detailscontent {
    margin-top: 30px;
    margin-left: 70px;
  }
  .detailscontent img {
    width: 60%;
    border-radius: 15px;
    height: 350px;
    margin-left: 20px;
    border: 1px solid #696a6a;
    filter: brightness(100%);
  }
  .detailscontent p {
    font-size: 10px;
    line-height: 10px;
    margin-right: 250px;
    animation: none;
  }
}/*# sourceMappingURL=project.css.map */