@import "./styles.scss";

.card {
    font-family: 'Aoboshi One', serif;
    margin: auto;
    width: 85%;
    margin-top: 20px;
    position: relative;
    height: 350px;
    border: 1px solid #838383;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
    animation: fade-in-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    img {
      width: 100%;
      border-radius: 15px;
      height: 350px;
      filter: brightness(40%);
    }
    

    .bottom {
      position: absolute;
      color: #f3efef;
      top: 60%;
      left: 5px;
      margin: 0;
      padding: 0;
      h3 {
        padding: 0 5px;
        font-weight: 800;
        font-size: 20px;
        filter: brightness(80%);
      }
      p {
        padding: 5px;
        padding-right: 10px;
        font-size: 15px;
        line-height: 15px;
        color: #838383;
      }
      ul {
       
        list-style: none;
        margin-top: -15px;
      }
      li {
        display: inline;
        margin: 5px;
        padding: 5px;
        background: #696a6a;
        color: #d3cece;
        border-radius: 5px;
        font-size: 12px;
      }
    }
  }
  
  .slide-right {
      -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @media only screen and (min-width: 1024px) {}